header {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(243, 243, 243, 0.12);
  padding: 15px 100px;
  margin-bottom: 25px;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}
.item {
  margin-left: 50px;
}

.link {
  position: relative;
  font-size: 25px;
  color: #212121;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #2196f3;
}
